<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004476940990-long836c3qqovqd8uvqg5dsa80bh6neo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004476940990-long836c3qqovqd8uvqg5dsa80bh6neo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1004476940990-g84fpb15lgub3pfauameb8snmhdfee4s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6GinDQ4JpifO7IhS3lkqm--yuC95-Qnw</string>
	<key>GCM_SENDER_ID</key>
	<string>1004476940990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pregnancyApp</string>
	<key>PROJECT_ID</key>
	<string>pregnancyapp-27dd4</string>
	<key>STORAGE_BUCKET</key>
	<string>pregnancyapp-27dd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004476940990:ios:5dd0cb13811ebf8438d4ef</string>
</dict>
</plist>